<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
  <meta charset="UTF-8">
  <title>
    {% block title %}
    {{ title }}
    {% endblock %}
  </title>
</head>
<body>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>

{% block javascripts %}
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
{% endblock %}

</body>
</html>