{% extends "base.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<h1 class="text-center">Добро пожаловать!</h1>
{% if user.is_authenticated %}
<p class="text-center">Вы авторизованы. Ваш логин {{ user.email }}</p>
<div class="text-center">
  <a href="{% url 'user_list' %}" class="btn btn-primary">Список пользователей</a>
  <a href="{% url 'user_edit' %}" class="btn btn-primary">Редактировать профиль</a>
  <form method="post" action="{% url 'logout' %}" style="display: inline;">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Выйти</button>
  </form>
</div>
{% else %}
<div class="text-center">
  <form method="post" action="{% url 'login' %}" style="display: inline;">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Войти</button>
  </form>
  <form method="post" action="{% url 'register' %}" style="display: inline;">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Регистрация</button>
  </form>
</div>
{% endif %}

{% endblock %}
