{% extends "base.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="text-center">
  <h1 class="text-center">Авторизация на сайте</h1>

  <form method="post" action="{% url 'login' %}" style="display: inline;">
    {% csrf_token %}
    <div class="mb-3">
      {{ form.username }}
    </div>
    <div class="mb-3">
      {{ form.password }}
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Войти</button>
    </div>
  </form>
  <form method="post" action="{% url 'register' %}" style="display: inline;">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Регистрация</button>
  </form>

</div>
{% endblock %}
