{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="card border-0">
  <div class="card-body">
    <div class="row">
      <div class="col-md-9">
        <h5 class="card-title">
          {{ custom_user }}
        </h5>
        <div class="card-text">
          <ul>
            <h4>Страница пользователя</h4>
            <li>E-mail: {{ user.email }}</li>
            <li>Логин: {{ user.username }}</li>
            <li>Заходил: {{ user.last_login }}</li>
          </ul>
          <a href="{% url 'user_edit' %}" class="btn btn-sm btn-primary">Редактировать профиль</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}